@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

body {
  background-color: #157a6e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23499f68' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23c2c5bb' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2353a36f' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b7b69e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%235ca776' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b3a482' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2365aa7e' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23b29169' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%236eae85' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23b37c56' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2377b28c' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23b4654a' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'quicksand';
}

#title{
  color: #77b28c;
  text-decoration: none;
}
h1{
  color: whitesmoke;
  text-decoration: none;
  margin: 20px;
}

h2,h3{
  color: white;
  text-decoration: none;
  margin: 20px;
}

h4{
  color: #c2c5bb;
  padding: 0px;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

p{
  color: whitesmoke;
  font-style: oblique;
  margin: 20px;
}

b{
  color : #c2c5bb;
}

.button-inline{
  display: flex;
  justify-content: space-around;
}

.label {
  font-weight: lighter;
  margin-left: -5px;
  text-decoration: none;
}

#project-list {
  text-decoration: none;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
}

.homepic-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home-pic{
  align-items: center;
  width: 20%;
  height:20%;
  padding: 0px;
  padding-left: 10px;

}
.App-header{
  background-color: #157a6e;
}

.project{
  display: flex;
  align-items: left; 
  flex-direction: column;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  opacity: 1;
  visibility: visible;

  color: white;
  text-align: left;
  border-radius: 2px;
  -webkit-box-shadow: 10px 10px 15px 15px rgba(0,0,0,0.25);
  transition: 
      opacity .3s ease-in .3s,
      visibility .3s ease-in .3s;
  transform: scale(.9);
}  

ul{
  height:200px; width:80%;
  border: none;
  background-color: rgba(142, 247, 186, 0.13);
  border-radius: 2px;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  transition: background-color .4s ease-out;
}
ul{overflow:hidden; overflow-y:scroll;}
li{color: #c2c5bb; font-size: 30px;}

.profile{
  display: flex;
  background-color: #499f68;
  width: 60%;
  margin: 30px;

}


.supportlogo{
  width: 30%;
  height: 30%;
  padding: 20px;
}

#profile-head{
  color: #157a6e;
}

#project-spread{
  display: flex;
  align-items: center; 
  flex-direction: row;
}

#project-details{
  padding: 50px;
}

footer{
  padding: 10px;
  font-size: small;
  font-style: italic;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  /* background-color: #77b28c; */
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 70%;
  height: 70%;
}

.notAllowed{
  display: flex;
  justify-content: center;
  align-items: center;
}




